body {
    text-align: center;
    padding: 25px;
    background: url(/images/2927262.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.container{
    margin: auto;
    text-align: center;
    display: flex;
    border: 10px solid orangered;
    width: 512px;
    height: 512px;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    padding: 0;
}

.box {
    display: flex;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    background-color: lightgray;
    flex: 1 1 auto;
    margin: 0;
}